<html>
    <head>
        <title>El blog de Lucia</title>
    </head>
    <body>
        <div>
            <h1><a href="">El blog de Lucia</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi primer posteo</a></h2>
            <p>Hola chicas, como andan? la estan pasando lindo? yo si, hoy aprendimos muchas cosas :) </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla... Ah reh...</p>
        </div>
    </body>
</html>
